/* general css reset sheet to remove any incosistencies in the margins/padding, change font, etc */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  min-height: 100%;
}
body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
