#container2 {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  /* header box and border for the work section */
  #work {
    flex: 1;
    border-right: solid 0.25vw darkslategray;
  }
  /* the container for all of our projects */
  #projects {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  /* did some more janky sizing in order to avoid reformatting the background images for the projects */
  /* this is the default formatting for all of the projects, individual projects receive some styling below */
  .project {
    border: solid 5px lightblue;
    width: 37vw;
    height: 25vw;
    opacity: 0.75;
  }
  /* assigns a background image for each of the individual projects */
  .proj-2 {
    background-image: url("../../images/QaC3.png");
    background-size: contain;
  }
  .proj-3 {
    background-image: url("../../images/designdesk.jpg");
    background-size: contain;
  }
  .proj-4 {
    background-image: url("../../images/phoneImage.jpg");
    background-size: contain;
  }
  .proj-5 {
    background-image: url("../../images/digitalmixing.jpg");
    background-size: contain;
  }
  /* adds a hover effect to the project class */
  .project:hover {
    transition: 0.5s ease-in-out;
    opacity: 1;
  }
  /* makes the main project appear twice as large */
  .main-p {
    width: 74vw;
    height: 50vw;
    background-image: url("../../images/pokedex5.png");
    background-size: contain;
  }
  /* formats and moves the text-box used on the projects */
.text-box {
    position: relative;
    background-color: lightblue;
    font-size: 1.5vw;
    width: 10vw;
    text-align: center;
    top: 70%;
  }
  